@font-face {
  font-family: "Montserrat";
  src: url("https://drive.google.com/u/0/uc?id=1YXLuJKnZEl1JSvNP7wG5KgOlVWEiOEl5&export=download");
}

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  min-width: 365px;
}

h1 {
  margin-top: 0;
}

.bg {
  background-image: url("https://lh3.googleusercontent.com/fife/AAWUweWOtXerNIGWITRddJ0kXFbWeXY_VkbFia81R0sXydSgMF8EXeYexp7q90V0uErEVrEcvi37PnDzRBduib1mXs-vorVdRK-4SFc6Al8tWmVPvGLB2UtLaSM1t6buyG8P-KelbbYkbmaXqdgf4y6ZSZnmbidze865b_lMapcBZl2Jniq-HwnwSeFRBn-NmXruPbKf9LoBP1joo1bYk6NDOQ_J6RTaUrHDeeD7wmdOmsYmdekxUWq1mr4xq6elRotmdJb3QR8L55i1IndoZPppJVYLpFHtx4XDQdS6dHfdJZOfgZolrOLbGiaZv_tX3nDiCFD3FWrV9NyVJUk0P5b7I76-1gBfQ3SIdoBizWj4jTGcMBV95XNLjfDqMCYGGOTi6saQa7hD_fd9U4HTG0bSRUTN69UdPEttH-NQsdaTUQ4Ryfkbis9hB2Lfs_fgja-LkcTnB56lbE8sOam3-iEukwVWS4bDjTw11fnCSCsHTl7fYmDwnemFS0uncS4vK_OrbJ1fNWiP6rIxalQIT43DMps4R-8aQUL8UBlei8n3Gr6kO_awZzS1PEJSW0IDNJLAbrLENAkS40UQPpdRLCiwlnjW9SRX3ABXKq0orBDs1GRYaQOmNyKnRSDlc9nbjK8DLla2aOaqz-O2_FGxoG1kN3Su1ie6tJPQUQxs5oWCCWvRah5YRZooNgQQQVm-VYOWOk5bWSS3CArkVe_cO_HnHwOtuMoIoVwCYHxkE8JDTO6IUVLbYifOe61j2KOP-k69oc3uaF1PZX9FcKWJoflrSUCR42S-j4i1AbKajvnfA4Ty43BR2gcETEhpgrQfKaYD8XNeZHyXWMDuLIS8fxE6RDRX052gxGf7aTYqSMwX6_0YLwJrAw7EiVRvku0OPAyrG8SAw2o8KhV0ciH5-5VNZfl-uu3HSHOveAwYTE2ueVKlVXc8PQke-N4Nbbpi_YxKi6c4poslvXFw9SGWMudTgWF9pxsE1r48k-VK734BTmOta08qaosAhbv8JThcMkjGHoPg4qIbZFjPzjYZanE0T78UwtJLRvxAMxA70H4if0mMJUwApss-vrDn9nr6C0un8i22SFjnREeO2I5H16OwjjPXNUkYd_YMjwcU_osdVihe1uShCOJ8vDtki3GiQR18BEQFfV3ScOPI28RDAEgTU7Iu4DDlaH0EREg9mJ-bWl78sdDq-4XrkF-hwqWIYOdKg7_u7meC4RejJpT945UxSFyl_zYk9T5hsjZFfUAedrt7RSaqTrvA4CNj-ZFzu8M1GcGB5CE=w1023-h969");
  background-repeat: repeat-y;
  max-width: 1080px;
  margin: 0 auto;
  padding: 40px 0;
}

.container {
  margin: 0 40px;

  min-width: 320px;
}

@media (max-width: 459px) {
  .container {
    margin: 0 20px;
  }
}

h1 {
  color: white;
  text-align: center;
  font-size: 42px;
}

.table {
  text-align: center;
  margin-bottom: 50px;
}

.row {
  display: inline-block;
  width: 100%;
  border-left: 1px solid #ff91be;
  border-right: 1px solid #ff91be;
}

.row:nth-child(1) {
  background: rgba(201, 118, 255, 0.4);
}

.row:nth-child(2) {
  background: rgba(95, 102, 237, 0.4);
}

.row:nth-child(3) {
  background: rgba(139, 237, 251, 0.4);
}

.row:nth-child(4) {
  background: rgba(80, 181, 126, 0.5);
}

.row:nth-child(5) {
  background: rgba(255, 198, 105, 0.4);
}

.row:nth-child(6) {
  background: rgba(255, 153, 93, 0.4);
}

.row:nth-child(7) {
  background: rgba(226, 93, 93, 0.4);
}

.row:nth-child(8) {
  background: rgba(223, 223, 223, 0.4);
}

.row.head {
  background-color: transparent;
  border-top: 1px solid #ff91be;
  border-left: none;
  border-right: none;
}

.row .cell {
  height: 62px;
  width: 20%;
  color: white;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .row .cell {
    font-size: 17px;
  }
}

@media (max-width: 500px) {
  .row .cell {
    font-size: 15px;
  }
}

.row:first-child {
  border-top: 1px solid #ff91be;
}

.row:last-child {
  border-bottom: 1px solid #ff91be;
}

.row .cell:last-child {
  max-width: 400px;
  width: 35%;
}

.row.head .cell:last-child {
  border-right: none;
}

.row.head .cell:first-child {
  border-left: none;
}

.text-block {
  color: white;
  display: inline-block;
  max-width: 480px;
  margin-bottom: 22px;
}

.text-block h2 {
  font-size: 20px;
  margin-bottom: 0;
}

.text-block p {
  font-size: 18px;
  margin-top: 5px;
}

.text-block.full {
  display: block;
  max-width: 100%;
}

.number {
  display: inline-flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  border: 1px solid white;
  align-items: center;
  justify-content: center;
  font-size: 29px;
  font-weight: bold;
  justify-self: end;
  margin-left: auto;
}

.res_head {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  margin-right: 5px;
}

.res {
  display: flex;
  flex-direction: row;
}

.res_flex {
  display: flex;
  flex-direction: column;
}

.res_colu {
  display: flex;

  justify-content: center;
  align-items: center;
}

.res_colu:first-child {
  margin-bottom: 10px;
}

.res_res {
  display: flex;
  align-items: center;
}

.res_res:before {
  content: "";
  display: inline-block;
  width: 24.4px;
  height: 106.81px;
  background-image: url("https://drive.google.com/u/0/uc?id=1-X3V_gV_r8fD7n3EJBJc2PAX5YrDwc_4&export=download");
  background-repeat: no-repeat;
  margin: 0 10px;
}

.button {
  max-width: 308px;
  width: 100%;
  height: 60px;
  background: rgba(97, 253, 197, 0.5);
  color: white;
  border-radius: 30px;
  cursor: pointer;
  font-size: 20px;
}

.input {
  max-width: 310px;
  height: 50px;
  border-radius: 30px;
  border: 2px solid #ffffff;
  background-color: transparent;
  font-size: 20px;
  padding-left: 10px;
  color: white;
  margin-bottom: 20px;
}

.form {
  text-align: center;
  margin-bottom: 40px;
}

.right_moon_side,
.left_moon_side {
  width: 20%;
}

.moon {
  padding: 28px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #ffffff 0%,
    rgba(255, 255, 255, 0.96) 3%,
    rgba(255, 255, 255, 0.67) 24%,
    rgba(255, 255, 255, 0.43) 44%,
    rgba(255, 255, 255, 0.25) 62%,
    rgba(255, 255, 255, 0.11) 78%,
    rgba(255, 255, 255, 0.03) 91%,
    rgba(255, 255, 255, 0) 100%
  );
}

.radio_group {
  color: white;
  font-size: 20px;
  margin: 30px auto;
}

.radio_left {
  margin-right: 20px;
}

h3 {
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

h4 {
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 100;
}

#app {
  display: flex;
  margin: 40px 0 0 0;
  background-image: url("https://drive.google.com/u/0/uc?id=1jwRg5DxXCk-UOCybqqAQsvGjksirbyNQ&export=download");
  background-repeat: no-repeat;
  max-width: 988px;
  max-height: 988px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: contain;
}

.svg {
  margin: 7%;
}

/* @media (max-width: 1080px) {
  #app {
    transform: scale(0.7);
    transform-origin: 30% 0;
  }
}

@media (max-width: 918px) {
  #app {
    transform: scale(0.6);
    transform-origin: 30% 0;
  }
}

@media (max-width: 800px) {
  #app {
    transform: scale(0.5);
    transform-origin: 25% 0;
  }
}

@media (max-width: 685px) {
  #app {
    transform: scale(0.4);
    transform-origin: 20% 0;
  }
}

@media (max-width: 575px) {
  #app {
    transform: scale(0.3);
    transform-origin: 15% 0;
  }
}

@media (max-width: 459px) {
  #app {
    transform-origin: 5% 0;
  }
}

@media (max-width: 375px) {
  #app {
    transform: scale(0.2);
    transform-origin: 0% 0;
  }
} */

.hide {
  display: none;
}

.field {
  color: white;
  margin: 10px 0;
}

.field_h {
  font-size: 20px;
  font-weight: 700;
}

.field_v {
  font-weight: 400;
  font-size: 20px;
}

.moon_block {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tag {
  position: absolute;
  z-index: 1;
}

.shadow {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  z-index: 0;
}

.end {
  text-align: center;
  margin-top: 60px;
}

.link_tg:before {
  content: "";
  display: inline-block;
  height: 33px;
  width: 33px;
  background-image: url("https://drive.google.com/u/0/uc?id=1q0SKtXYHW64Oft5-V__lmZW1YH9RZR4B&export=download");
  background-repeat: no-repeat;
  margin-right: 10px;
}

.link_insta,
.link_tg {
  color: white;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  margin-top: 50px;
}

.link_tg {
  margin-right: 20px;
}

.link_insta:before {
  content: "";
  display: inline-block;
  height: 33px;
  width: 33px;
  background-image: url("https://drive.google.com/u/0/uc?id=17M1GblVSuk7JnGzDA7oDa2cUYZr0uGpY&export=download");
  background-repeat: no-repeat;
  margin-right: 10px;
}

.big {
  font-size: 29px;
  font-weight: 700;
}

@media (max-width: 600px) {
  .label_r {
    display: block;
    text-align: left;
  }
}

@media (max-width: 850px) {
  .moon_block {
    flex-flow: column;
  }

  .moon {
    order: 2;
    margin-top: 30px;
  }

  .left_moon_side,
  .right_moon_side {
    width: 100%;
  }
}
